@import "../../variables";
@import "../../shared-styles";

.mobile-filter {
  button {
    @include main-btn;
    margin-top: 25px;
  }
  button.mobile-reset {
    @include main-btn;
    margin-top: 25px;
    background: red !important;
  }
}
.home-div {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (max-width: 620px) {
    padding: 60px 10px;
  }
  .unit {
    h3 {
      flex-grow: 1;
    }
    button {
      color: #2f67d8;
      background: #2f67d81a;
      border: solid 1px #2f67d8;
      width: 163px;
      font-size: 14px;
      height: 32px;
      border-radius: 100px;
      @media screen and (max-width: 620px) {
        width: 140px;
        font-size: 12px;
      }
    }
    @media screen and (max-width: 620px) {
      margin-bottom: 10px;
    }
  }
  .question-type-div {
    border-radius: 11px;
    background: #ffffff;
    padding: 15px;
    border: solid 1px #e7e7e7;
    box-shadow: 0px 3px 6px #0000000d;

    input {
      width: 90%;
      border: solid 1px #cecbcb;
      height: 37px;
      border-radius: 10px;
      background: #fff;
      padding-left: 20px;
      @media screen and (max-width: 620px) {
        width: 100%;
      }
    }
    ::placeholder {
      color: #191919 !important;
      text-align: left;
      opacity: 0.3;
      font-size: 14px !important;
      font-family: rebondG-Medium;
    }
    button {
      @include main-btn;
      margin-top: 25px;
    }
    h6 {
      @media screen and (max-width: 620px) {
        margin-top: 30px;
      }
    }
  }
  .sort {
    margin-top: 150px;
    margin-bottom: 20px;
    h3 {
      flex-grow: 1;
      @media screen and (max-width: 620px) {
        font-size: 16px;
        margin-top: 10px;
      }
    }
    h6 {
      margin-top: 5px;
      margin-right: 5px;
    }
    select {
      border: none !important;

      background: #fff;
      font-family: rebondG-Medium;
      font-size: 14px;
      color: #191919;
    }
  }
  .select-div {
    border: solid 1px #cecbcb !important;
    border-radius: 35px;
    height: 35px;
  }
  .button {
    padding: 5px;
    width: 40px;
    border-radius: 3px;
  }
  .left {
    margin-right: 10px;
  }
}
