.menu-link-container {
  // padding-left: 10px;
  height: 150px;
  // background: red !important;
  padding: 7px;
  margin-bottom: 5px;
  @media screen and (max-width: 620px) {
    padding: 0;
  }
  &:hover {
    background: #f8f8f8;
    border-radius: 5px;
  }
  img {
    height: 28px;
    width: 28px;
  }
  p {
    font-size: 10px;
    line-height: 16px;
    @media screen and (max-width: 620px) {
      line-height: 22px;
    }
  }
  h6 {
    font-size: 16px !important;
    margin-top: 5px;
  }
}
.menu-link {
  &:hover {
    color: #161617;
  }
}
.hidden {
  display: none;
}
