.fab-wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000
}


.fab-wrapper button:nth-child(1) {
  animation: 0.7s ease-out 0s 1 FadeIn;
  transition: all 0.3s
}

.fab-wrapper button:hover:nth-child(1) {
  //background-color: red
  background-color: #f6eaea;
  color: black;
}

@keyframes FadeIn {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

.hide {
  position: absolute;
  bottom: 0px !important;
  z-index: -1;
  transition: all 2s
}

.close-button-rotate {
  transform:rotate(45deg);

}

.fab-wrapper button {
  height: 50px;
  width: 50px;
  background-color: #e8e8e8;
  padding: 10px;
  //display: flex;
  flex-direction: row;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin: 2px
}

.menu-icon {
  //width: 12px;
  //height: 8px;
  //margin-right: 5px;
}
