@import "../../variables";
@import "../../shared-styles";

.news-page {
  padding: 180px 0 120px 0;
  background: url("../../assets/images/brush-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  p {
    color: #414141;
  }
  h1 {
    margin: 25px 0;
  }
  input {
    height: 40px;
    padding-left: 20px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #b2b2b2;
    border-radius: 60px;
    color: #c7c6c6;
    font-size: 14px;
    font-family: rebondBook;
    width: 80%;
    margin-right: 6px;
  }
  ::placeholder {
    color: #414141 !important;
  }
  button {
    @include main-btn;
  }
}
.news-component {
  margin-top: 30px;
  h4 {
    margin: 20px;
  }
}
.read-more {
  background: red;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.blog-link2 {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.news-body {
  padding: 30px;
  h4 {
    // font-family: RebondB;
    margin-bottom: 30px;
  }
}
.share {
  li {
    color: grey;
    &:hover {
      color: red;
    }
  }
}
.copied-btn {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cecfd0;
  border-radius: 100px;
  font-family: rebondG-Medium;
  padding: 5px 10px;
  font-size: 14px;
  img {
    margin-right: 10px;
  }
}
.special-quote {
  font-size: 26px;
  font-family: rebondG-Medium;
  color: #414244 !important;
  margin-bottom: 0;
}
.blog-extra-details {
  p {
    color: #707070;
  }
  small {
    color: #707070;
    font-size: 14px;
  }
}
.main-news-body {
  margin-top: 100px;
  @media screen and (max-width: 820px) {
    margin-top: 70px;
  }
}
