.nav-container {
  padding: 5px 60px;
  box-shadow: 0px 3px 6px #00000029;
  background: #fff;
  display: flex;
  @media screen and (max-width: 620px) {
    padding: 15px 5px;
  }
  .logo-holder {
    flex-grow: 1;

    @media screen and (max-width: 620px) {
      margin-right: 10px;
    }
    img {
      width: 50%;
      @media screen and (max-width: 620px) {
        width: 100%!important;
      }
    }
  }
  .navs {
    flex-grow: 1;

    @media screen and (max-width: 620px) {
      border-top: solid 1px #e7e7e7;
    }
    // border-bottom: solid 1px #e7e7e7;
    .navlinks {
      button {
        margin: 0 10px;
        padding: 5px 13px;
        border: none;
        color: #000;
        margin-top: 10px;
        text-decoration: none;
        font-size: 14px;
        border-radius: 100px;
        background: #fff;
        font-family: rebondG-Medium;
        @media screen and (max-width: 620px) {
          margin: 0 0px;
          margin-left: -10px;
        }
      }
    }
  }
}
.active {
  button {
    color: #2f67d8 !important;
    background: #c7d8fa !important;
  }
}
.hide {
  display: none;
}
.menu-holder {
  width: 72px;
  height: 35px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-cecbcb);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cecbcb;
  border-radius: 100px;
  // padding-left: 18px;
  padding-top: 3px;
  margin-left: 0px;

  @media screen and (max-width: 620px) {
    width: 70px;
    margin-top: 0px;
  }
  .menu-icon {
    width: 12px;
    height: 8px;
    margin-right: 5px;
  }
  .person {
    height: 23px;
    width: 23px;
    border-radius: 10px;
  }
}
.notification-body {
  width: 320px;
  height: 271px;
  white-space: normal !important;
  @media screen and (max-width: 620px) {
    width: 200px;
  }
  h6 {
    flex-grow: 1;
  }
  small {
    opacity: 0.5;
  }
}
.last-menu {
  .btn {
    background: #fff !important;
    height: 35px !important;
    border-color: #fff !important;
    // width: 92px !important;
    top: 20px !important;
    padding: 0 !important;
  }
}

.nav-mobile{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  .logo{
    height: 3rem;
  }
  img{
    vertical-align: bottom;
    width: 20px;
    height: 15px;
  }

  .logo-holder{
    display: flex;
    img{
      align-self: center;
      width: fit-content;
      padding-left: 0.1rem;
    }
    .div-img{
      padding-left: 0.5rem;
      flex: 0;
    }
  }
  .last-menu{
    align-self: center;
  }
  .menu-holderm{
    padding-right: 0.5rem;
    img{
      height: 30px;
      width: 30px;
      border-radius: 10px;
    }
  }
  padding: 0px 5px;
}

.offcanvas-body.menu{
  a{
    display: block;
    padding: 12px 30px;
    font-size: 0.875rem;
    font-weight: 700;
    transition: padding .2s ease-in-out, color .2s ease-in-out;
  }
  .navlinks button {
    margin: 0 10px;
    padding: 5px 13px;
    border: none;
    color: #000;
    margin-top: 10px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 100px;
    background: #fff;
    font-family: rebondG-Medium;
  }
}
.offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
  --bs-offcanvas-width: 255px;
}

.nav-container-footer,.nav-container-exam-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  padding: 5px 0.1rem;
  box-shadow: 0px 3px 6px #00000029;
  background: #fff;
  color: white;
  display: flex;
  justify-content: space-between;
  .filter-cls,.sel-cls{
    //background: #2f67d8 !important;
    //color: #fff;
    //border-radius: 100px;
    padding: 5px 2.5rem;
    //margin: auto 1rem;
    font-size: 14px;
    //border: solid 1px #414244;
    font-family: rebondG-Semi-Bold;
  }


}
.nav-container-footer{
  .filter-cls,.sel-cls{
    background: #2f67d8;
    border-radius: 100px;
    color: white;
    width: 96%;

  }
  justify-content: center;
}

.btn-invite{
  margin: 0 10px;
  padding: 5px 13px;
  border: none;
  //color: #000;
  margin-top: 10px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 100px;
  //background: #fff;
  font-family: rebondG-Medium;
  color: #000 !important;
  background: #9b64001a !important;
}

.subscribe-cls{
  font-size: 14px;
  color: red;
}
.close-btn.top{
  width: 100%;
}

@media screen and (max-width: 620px)
{
  .modal-content {
    padding: 0.5rem;
  }
}


