.modal-backdrop {
  --bs-backdrop-opacity: 0.9 !important;
}
.test-modal-div {
  p {
    font-size: 14px !important;
  }
}
.attempts-btn {
  border: solid 1px #2f67d8;
  box-shadow: 0px 3px 6px #0000000d;
  border-radius: 10px;
  width: 80px;
  height: 52px;
  color: #2f67d8;
  background: #2f67d81a;
  font-size: 14px;
}
.modal-tops {
  flex-grow: 1 !important;
}
.test-body {
  padding: 10px;
}
.modal-footer {
  display: block !important;
}
.cance-btn {
  background: #d52143;
  border: solid 1px #414244;
  color: #fff;
  border-radius: 100px;
  font-size: 14px !important;
  width: 81px;
  height: 36px;
  font-family: rebondG-Semi-Bold;
}
.start-btn {
  float: right;
  button {
    background: #2f67d8;
    border: solid 1px #414244;
    width: 124px;
    height: 38px;
    border-radius: 100px;
    font-family: rebondG-Semi-Bold;
    font-size: 14px !important;
    color: #fff;
  }
  button.vid {
    width: 100%;
  }
  .cancel-btn {
    background-color: red;
  }
  h6 {
    margin-top: 5px;
    margin-right: 10px;
  }
}

.form-check {
  display: flex;
  align-items: baseline;
}
